<div class="contents-post">
  <div class="contents-logo">
    <%= @nickname %>さんのレビュー一覧
  </div>
  <div class="content-index">
    <% @reviews.each do |review| %>
      <div class="content__box" >
        <div class="content__box-text">
        <span class="name"><%= review.name %></span>
        <%= review.category %>
        <div class="box-text">
          <%= simple_format(review.text) %>
        </div>
      </div>
        <div class="content__box-image">
          <%= image_tag review.image.to_s, :size=>'200x200' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


　