
<div class="contents">
  <div class="main-view">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="main-logo">test</div>
      <%= image_tag "wine-1761613_1280.webp", class: 'd-block w-100', :size =>'1450x500' %>
    </div>
    <div class="carousel-item">
    <div class="main-logo">test</div>
      <%= image_tag "grapes-2104077_1280.jpg", class: 'd-block w-100', :size =>'1450x500' %>
    </div>
    <div class="carousel-item">
    <div class="main-logo">test</div>
      <%= image_tag "tuscany-4664883_1280.jpg", class: 'd-block w-100', :size =>'1450x500' %>
    </div>
  </div>
</div>
  </div>
  <div class="main-content">
    <div class="content-list">
      <div class="content-box">
        <div class="review-box">
          <%= image_tag "★IMG_8169.jpg", class: 'rounded-circle', :size =>'200x200'%>
        </div>
        <%= link_to "WineReview", new_review_path, class: "review-logo" %>  
        <div class="memo1">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</div>
      </div>
    </div>
    <div class="content-list">
      <div class="content-box">
        <div class="review-box">
          <%= image_tag "wine-3503895_1280.jpg", class: 'rounded-circle', :size =>'200x200'%>
        </div>
        <a class="review-logo" href="#">Category</a>
        <div class="memo1">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</div>
      </div>
    </div>
    <div class="content-list">
      <div class="content-box">
        <div class="review-box">
          <%= image_tag "bottle-791699_1280.jpg", class: 'rounded-circle', :size =>'200x200'%>
        </div>
        <a class="review-logo" href="#">News</a>
        <div class="memo1">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</div>
      </div>
    </div>
</div>

