
<div class="contents">
  <div class="main-view">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="main-logo">主に無色に近い色調から（時に緑色がかった）黄色みを帯びたワインを白ワインと呼ぶ。白ブドウなど主に色の薄い果皮のブドウを原料とし、発酵には果汁のみを使用する。酸味の強い物は、一般的に魚料理に合うとされる。白ワインは、料理と合わせる辛口からデザートワインにする極甘口まで甘さに幅がある。なお、フランス東部のジュラ地方にはヴァン・ジョーヌ（仏: Vin jaune、黄ワイン）という特殊な白ワインがある</div>
            <%= image_tag "wine-1761613_1280.webp", class: 'd-block w-100', :size =>'1450x500' %>
        </div>
        <div class="carousel-item">
          <div class="main-logo">透き通った赤や濃い紫、あるいは赤褐色のワインを赤ワインと呼ぶ。一般に白ワインよりも渋みの成分であるタンニンを多く含み長期保存が可能である。主として黒ブドウや赤ブドウを原料とし、果実を丸ごとアルコール発酵させる。この発酵の過程で、果皮に含まれる色素やタンニンが抽出される。マロラクティック発酵により減酸が行われることも多い。濃厚な風味のものは一般的に肉料理に合うとされる。また冷やすと香りの成分が揮発しにくくなったり苦味が増すので、冷やさないのが普通である。一般的に赤ワインには辛口しかなく、コクとタンニンにより、ライトボディーからフルボディーといった分類がなされる。</div>
            <%= image_tag "grapes-2104077_1280.jpg", class: 'd-block w-100', :size =>'1450x500' %>
        </div>
        <div class="carousel-item">
          <div class="main-logo">ロゼ (rosé) とはフランス語で「ピンク色」を意味し、時にピンク・ワインとも呼ばれる赤みを帯びた淡い色調のワインを指す。製法には、果皮の色の薄いブドウを赤ワインのように醸造する方法や、赤ワインと同じブドウを白ワインのように醸造する方法、赤と白の双方のブドウによる混醸、赤ワインの醸造途上で色の素である果皮を取り除く、などがあり、味わいも様々である。中には赤ワインと白ワインを混合したものや白ワインに着色しただけの製品もある。</div>
            <%= image_tag "tuscany-4664883_1280.jpg", class: 'd-block w-100', :size =>'1450x500' %>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="content-list">
      <div class="content-box">
        <div class="review-box">
          <%= image_tag "★IMG_8169.jpg", class: 'rounded-circle', :size =>'200x200'%>
        </div>
        <%= link_to "WineReview", new_review_path, class: "review-logo" %>  
        <div class="memo1">Review your favorite wine. Your review can be shared with everyone in the world.</div>
      </div>
    </div>
    <div class="content-list">
      <div class="content-box">
        <div class="review-box">
          <%= image_tag "wine-3503895_1280.jpg", class: 'rounded-circle', :size =>'200x200'%>
        </div>
        <%= link_to "Category", reviews_path, class: "review-logo" %> 
        <div class="memo1">You can see the wines reviewed by everyone in the world by type.</div>
      </div>
    </div>
    <div class="content-list">
      <div class="content-box">
        <div class="review-box">
          <%= image_tag "bottle-791699_1280.jpg", class: 'rounded-circle', :size =>'200x200'%>
        </div>
        <%= link_to "News", articles_path, class: "review-logo" %>
        <div class="memo1">We bring you news about wines from around the world.</div>
      </div>
  </div>
</div>
<div class="footer">
  <p>© All rights reserved by WineReviewers</p>
<div>

