<!DOCTYPE html>
<html>
  <head>
    <title>WineReviewers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="nav">
        <%= link_to "Wine::Reviewers", root_path, class: "nav-logo" %>
      </div>
      <% if user_signed_in? %>
        <%= form_with url: searches_path, local: true, method: :get, class: "search-review" do |f| %>
          <%= f.text_field :search, placeholder: "ワイン名で探す" %>
          <%= f.submit 'Search' %>
        <% end %>
      <% end %>
      <div class="nav-items">
       <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
        <% else %>
          <%= link_to "LogIn", new_user_session_path, class: "header__right--btn" %>
          <%= link_to "SignUp", new_user_registration_path, class: "header__right--btn" %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to "Mypage", user_path(current_user.id), class: "nav-button" %>
        <% end%>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
